body { 
    background-color: rgb(196, 250, 250);
  }

  .header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
    background-color:#74E88F;
    padding: 10px;
  }

  .header img {
      border: 1px #ccc solid;
      width: 200px;
      height: 200px;
  }

  .hearder h1 {
      font-size: 4rem;
      margin-left: 1rem;
  }

  .wrapper { 
    display: flex;
    margin-top: 15px;
    flex-flow: row;
    border: 1px #ccc solid;
    justify-content: center;
  }
  
  .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      flex-flow: row;
      max-width: 900%;
      align-items: center;
      background-color:white;
  }

  .one {
      width: 100px;
      margin-right: 15px;
  }

  .one img {
      width: 100%;
      border: 1px black solid;
      border-radius: 4px;
  }

  .one p{
      flex: 0 1 auto;
  }














